/*
simcav-green = #005200
simcav-green-light = #009f00

alternative Stability = #abeded

cell = #ffffff
cell-alternative = #f9f0e6
*/

QWidget#SolutionsTab {
  
}

LabelTitle {
  min-height: 40;
  max-height: 40;
  color: white;
  background-color: #005200
}

LabelSubtitle {
  min-height: 30;
  max-height: 30;
  color: white;
  background-color: #009f00
}

LabelCell {
  min-height: 20;
  max-height: 20;
  background-color: #ffffff
}

LabelCell[impar=true] {
  min-height: 20;
  max-height: 20;
  background-color: #f9f0e6
}