/*

MATERIAL DESIGN REFERENCE
https://material.io/design/components/buttons.html#

GOOD REFERENCE
http://doc.qt.io/qt-5/style-reference.html

LIST OF PROPERTIES
https://doc.qt.io/qt-5/stylesheet-reference.html#list-of-properties


simcav-green = #005200
simcav-green-light = #009f00

stability             = #e0ffff = rgb(152, 251, 153)
stability-alternative = #afeeef = rgb(50, 205, 50)

results = #98fb99
results-alternative = #32cd32

cell = #ffffff
cell-alternative = #f9f0e6
*/

QLineEdit[readOnly="true"] { color: gray }

/* QWidget {
  background-color: white;
} */


QMainWindow {
  background-color: white;
}

/* QWidget > QLabel {
  background-color: rgba(255,0,0,0%);
} */


QMenuBar {
  color: white;
  background-color: black;
}
/* QMenu {
  color: black;
  background-color: #84ff84;
} */

QToolBar {
  background-color: white;
}
QToolButton:hover { 
  /* background-color: #008c00; */
  background-color: rgba(0,140,0,75%);
  /* border: 2px solid #008c00; */
  /* border-radius: 3px; */
}

QTabWidget {
  background-color: white;
}


QStatusBar {
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  spacing: 0;
}
QStatusBar::item {
    border: 0px solid black;
    border-radius: 0;
}
/* QStatusBar > QLabel {
  color: white;
} */

QLineEdit:focus {
  border-color: green;
}

ElementWidget {
  color: red;
  background: blue;
}

QComboBox {
  selection-background-color: rgba(0,140,0,75%);
}

/* QPushButton#button_calcCavity, QPushButton#button_calcSolutions {
  color: #005200;
  background-color: white;
  font: bold 18px;
  padding: 6px;
}
QPushButton#button_calcCavity:hover {
  color: white;
  background-color: #009f00;
  font: bold 18px;
  padding: 6px;
}
QPushButton#button_calcCavity:pressed {
  color: white;
  background-color: #005200;
  font: bold 18px;
  padding: 6px;
} */

/* #cavityIconsLayout {
  background-color: #005200;
} */

/* QFormLayout#formLayout_elementButtons > * {
  background-color: red;
} */

